@page
@model ToDoList.Pages.Dela.IndexModel

@{
    ViewData["Title"] = "Dela";
}

<h1>Dela</h1>

<div class="row mb-3">
    <div class="col-md-6">
        <form method="get">
            <div class="input-group">
                <span class="input-group-text">Title:</span>
                <input type="text" name="FilterTitle" value="@Model.FilterTitle" class="form-control"/>
            </div>

            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text">CreatedDate:</span>
                    <input type="date" name="FilterCreatedDate" value="@Model.FilterCreatedDate?.ToString("yyyy-MM-dd")" class="form-control"/>
                </div>
            </div>
        
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text">DueDate:</span>
                    <input type="date" name="FilterDueDate" value="@Model.FilterDueDate?.ToString("yyyy-MM-dd")" class="form-control"/>
                </div>
            </div>
        
            <div class="col-md-6">
                <div class="input-group">
                    <label for="FilterIsCompleted" class="input-group-text">IsCompleted:</label>
                    <select id="FilterIsCompleted" name="FilterIsCompleted" class="form-select">
                        <option value="">All</option>
                        <option value="true" selected="@(Model.FilterIsCompleted == true)">Yes</option>
                        <option value="false" selected="@(Model.FilterIsCompleted == false)">No</option>
                    </select>
                </div>
            </div>
        
            <div class="col-md-12 mt-3 text-center">
                <button type="submit" class="btn btn-primary">Apply filter</button>
                <button type="reset" class="btn btn-secondary ml-2" onclick="location.href='@Url.Page("./Index")';return false;">Reset filter</button>
            </div>
        </form>
    </div>
</div>


<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Delo[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Delo[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Delo[0].CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Delo[0].DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Delo[0].IsCompleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Delo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCompleted)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
